body {
  /* background-color: #fbd46d; */
  background-color: #faeee7;
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: 'Merienda', cursive;
  margin-bottom: 0;
  color: #45046a;
}
.bio {
  font-size: 2rem;
  margin-top: 5px;
  color: #45046a;
  font-weight: normal;
}

h2, h3, a {
  color: #45046a;
}

.skill-row {
  width: 50%;
  margin: auto auto auto auto;
  text-align: left;
  line-height: 2;
}

.third_div {
  /* background-color: red; */
  margin: 0 0 0 0;
  padding: 50px 0 20px;
}

.btn {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #45046A;
   font-family: 'Noto Sans', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   background-color: #FAEEE7;
   /* -webkit-box-shadow: 1px 1px 20px 0 #45046A; */
   /* -moz-box-shadow: 1px 1px 20px 0 #45046A; */
   /* box-shadow: 1px 1px 20px 0 #45046A; */
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

div {
  background-color: #faeee7;
}

.software_engineering {
  float: left;
  margin-right: 30px;
}

.web_development {
  float: right;
  margin-left: 30px;
}

.inner_bio {
  width: 25%;
  text-align: center;
  margin: auto auto auto auto;
  /* margin-bottom: 5px; */
}

hr {
  border-style: dotted none none none;
  border-color: #45046a;
  border-width: 7px;
  width: 3%;
  margin: 50px auto;
}

.first_div {
  border: 10px;
  position: relative;
  padding-top: 100px;
  font-family: 'Kalam', cursive;
}

.top_cloud {
  position: absolute;
  right: 330px;
  top: 70px;
}

.bottom_cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.my_image {
  /* height: 100px;
  width: 100px; */
  width: 10%;
  /* margin: 10px 0 0 0; */
  margin-top: 50px;
  }

  p {
    line-height: 2;
  }

.end_bio {
  width: 40%;
  margin: 40px auto 60px;
}

a {
color: #45046a;
font-family: 'Noto Sans', sans-serif;
margin: 0 20px 0 20px;
text-decoration: none;
}

a:hover {
  color: blue;
}

.copyright {
color: #45046a;
}
